<h1 style="text-align: center; background-color: brown;color: aliceblue;">{{title}}</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus quasi id dolores alias maiores, est et nesciunt rerum, quod, repudiandae repellendus quaerat blanditiis! Praesentium magni quas ipsa quibusdam ipsam nostrum.</p>
<hr>
<!-- <app-counter></app-counter>
<app-heroes-hero></app-heroes-hero>
<app-heroes-lista></app-heroes-lista> -->
<app-dbz-main-page></app-dbz-main-page>
<!-- <app-main-pages></app-main-pages> -->

